.head{
        display: flex;
        align-items: flex-start;
        gap: 10px;
    > div{
        line-height: 1.6;
    }
    > img{
        width: 50px;
        border-radius: 200px;
    }
    .time{
        display: flex;
        align-items: center;
    }
}