*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root{
  --rubyred: #e44d3a;
  --bigpad: 200px;
  --gray: #eeeeee;
  --darkgray: #B0B0B0;
  --white: white;
  --darkruby: #CF3C2C;
  --blue: #56A4FF;
  --green: #53D690;
}

